
#Build files
chatgpt-cli
dist/

#github token for goreleaser
.github_token

#Default config
.chatgpt-cli

#Session files
chatgpt-cli-*.json
dell-e-*.png

#Test Coverage files
.coverage-report.out
coverage.html

