name: Go CI Build

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  go-versions:
    name: Lookup Go versions
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.versions.outputs.matrix }}
    steps:
      - uses: actions/checkout@v3
      - uses: arnested/go-version-action@87ed13ca560815b31430e346ea1df537a58ba122
        id: versions

  build:
    name: Test
    runs-on: ubuntu-latest
    needs: go-versions
    strategy:
      matrix:
        version: ${{ fromJSON(needs.go-versions.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.version }}

      - name: Go Version
        run: go version

      - name: Test
        run: make test

      - name: GoReleaser Check
        uses: goreleaser/goreleaser-action@v6
        with:
          version: '~> v2'
          args: check
          workdir: .

      - name: GoReleaser Build
        uses: goreleaser/goreleaser-action@v6
        with:
          version: '~> v2'
          args: build --snapshot --clean --single-target --output .
          workdir: .
